body {
  font-family: helvetica;
  width: 98vw;
  height: 100vh;
  border: 2px solid blue;
  background: linear-gradient(
    300deg,
    rgb(19, 19, 56),
    rgb(20, 20, 82),
    rgb(119, 119, 212)
  );
}

#topbar {
  border: 1px solid rgb(38, 38, 100);
  box-shadow: 2px 2px 15px rgb(51, 51, 70);
  width: 98vw;
  height: 70px;
  color: white;
  display: flex;
  flex-direction: row;
}
#tier {
  width: 20%;
  font-size: 40px;
  font-weight: bold;
  height: inherit;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-left: 100px;
  justify-content: flex-start;
  align-items: center;
}

#menu {
  width: 80%;
  font-weight: bold;
  height: inherit;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  column-gap: 40px;
}

#wordicon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#word {
  padding-top: 2px;
}
.fa-solid {
  font-size: 20px;
}

button {
  border: 0px solid;
  border-radius: 30px;
  font-weight: bold;
  height: 40px;
  width: 150px;
  color: white;
  background-color: rgb(233, 110, 110);
}

main {
  width: 98vw;
  height: 500px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
  padding-right: 80px;
}

#leftbox {
  width: 500px;
  height: 400px;
  display: flex;
  box-sizing: border-box;
  padding-left: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#boldtext {
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 40px;
}

#lighttext {
  color: white;
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 40px;
  align-self: flex-start;
}

#button2 {
  align-self: flex-start;
  width: 280px;
  height: 50px;
  border-radius: 30px;
}

#rightbox {
  width: 440px;
  height: min-content;
}

#lowerpart {
  width: 98vw;
  height: 120px;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  padding-inline: 180px;
}
#Box1 {
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
#Box1a {
  display: flex;
  flex-direction: row;
  width: min-content;
  column-gap: 5px;
}
#icon {
  width: 30px;
  height: 30px;
}

#Box2,
#Box3,
#Box4,
#Box5,
#Box6 {
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.fa-brands {
  font-size: 36px;
}
.fa-regular {
  font-size: 36px;
}

.fa-brands {
  font-size: 36px;
}
.fa-regular {
  font-size: 36px;
}
